@page
@model Chirp.Web.Pages.Account.LogoutModel

<h2>Log out</h2>

<form method="post">
    <p>Are you sure you want to log out?</p>
    <div class="button-group">
        <button type="submit" class="btn btn-danger">Log out</button>
        <a href="/" class="btn btn-secondary">Cancel</a>
    </div>
</form>