<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/favicon/favicon.ico">
</head>
<body>
<div class=page>
    <h1><img src="/images/icon1.png" alt="Icon1"/>Chirp!</h1>

    <div class = "navigation">
        @if (User.Identity.IsAuthenticated)
        { 
            <div class = "navigation-links">
                <a href = "/@(User.Identity.Name)"> My timeline </a> 
                <a href = "/" > Public timeline </a>
                <!-- Add a logout -->
                <form method="post" action="/Logout">
                    <button type="submit"> Logout (@User.Identity.Name) </button>

            </div>
        }       
        else 
        {
            <div class = "navigation-links">
                <a href = "/" > Public timeline </a>
                <!-- Add a register -->
                <a href = "/Account/Register"> Register </a>
                <!-- Add a login -->
                <a href = "/Account/Login"> Login </a>
            </div>
        }
    </div>

    <!-- Send cheeps: only available when logged in -->
    <div class = "cheepbox">
        <h3> What's on your mind @User.Identity.Name)? </h3>
        <form method = "post">
            <input style = "float: left", type = "text" asp-for = "Text" >
            <input type = "submit" value= "Share" >
        </form>
    </div>

    <div class=body>
            @RenderBody()
    </div>
    <div class=footer>
        Chirp &mdash; An ASP.NET Application
    </div>
</div>

</body>
@await RenderSectionAsync("Scripts", required: false)
</html>
